/* Typogrpahy */

html {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
}

.profile-photo {
    margin-bottom: -35px;
}

.heading-info {
    text-align: center;
}   

.location {
    margin-bottom: 1px;
}

h1 {
    font-weight: 400;
    margin-bottom: -30px;
}


h2,h3 {
    font-weight: 400;

}

#section-title {
    font-size: 28px;
    font-weight: 400;
}

.section-sub-title {
    font-size: 20px;
    font-weight: 400;
}

li {
    list-style: disc;
}

li li {
    list-style: square;
}

footer {
    font-weight: 450;
}

/* Images */

.social-icons {
    width: 32px;
    margin-left: 30px;
    margin-right: 30px;
}
