/* Typogrpahy */

html {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
}

.heading-info {
    text-align: center;
}   

.location {
    margin-bottom: 1px;
}

h1 {
    font-weight: 400;
    margin-bottom: -30px;
}


h2,h3 {
    font-weight: 400;

}

#section-title {
    font-size: 28px;
    font-weight: 400;
}

.section-sub-title {
    font-size: 20px;
    font-weight: 400;
}

li {
    list-style: disc;
}

footer {
    font-weight: 450;
}

/* Images */

.profile-photo {
    margin-bottom: -35px;
    border-radius: 50%;
}

.social-icons1 {
    height: 32px;
    width: 32px;
    border-radius: 20px;
}

.social-icons2 {
    height: 32px;
    width: 32px;
    border-radius: 20px;
}

.p-section {
    position: relative;
}

.icon-1 {
    position: absolute;
    left: -16%;
    top: 50%;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;

}

.icon-2 {
    position: absolute;
    left: 16%;
    top: 50%;
    bottom: 0;
    right: 0;
    margin: auto;

}
