/* Typeography */


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #1B281B;
    font-size: 1.25rem;
    line-height: 1.6;
}



h1 {
    color: 494e54;
    font-size: 3rem;
    text-align: center;
    line-height: 1.1;
    margin: 25px 0px;
}

h2 {
    color: #ff641e;
    
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}

.orange-text {
    color: #ff641e;
} 
.blue-text {
    color: #0164f3;
} 

a {
    color: #0164f3;
    text-decoration: none;
}

a:hover, a:focus-visible {
    color: #ff641e;
    text-decoration: underline;
}

ul {
    list-style: square;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #0164f3;
    border: #6E84CF 5px solid;
    color: #FFFFFF;

}


/* Images */
img {
    border-radius: 5px;
    max-inline-size: 100%;
    display: block;
}
.icon {
    width: 64px;
    height: 64px;
    display: inline-block;
}
